
        <span class="pull-right">Showing <strong>{{paginationOptions.first_boundary}}</strong> to <strong>{{paginationOptions.last_boundary}}</strong> of <strong>{{paginationOptions.totalrecords}}</strong> records</span>
        <br />

