﻿<div class="">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" ng-class="{active: item.index == selectedIndex}" ng-repeat="item in NavOptions"><a href="{{item.redirect}}"><i class="material-icons blue {{item.icon}}">add</i>&nbsp;&nbsp;{{item.name}}</a></li>
    </ul>
</div>