﻿<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col" ng-include="Nav">
			</div>
			<div class="col m12">
				<div class="panel panel-default">
					<!-- <div class="panel-heading">Manage Credits</div> -->
					<div class="panel-body">
						<div class="alert {{messagecss}} alert-dismissible" role="alert" ng-if="message !=''">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<strong>{{message}}</strong>
						</div>
						<div ng-if="showLoader">
							<div class="spinner">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</div>
						<div ng-if="!showLoader">
							<div class="row" role="toolbar" aria-label="...">
								<!-- <div class="btn-group btn-group-sm" role="group" aria-label="..."> -->
								<a href="#/addbadge/{{type}}" class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>Add</a>
								<div class="right">
									<a ng-if="Categories.length > 0" class="waves-effect waves-light btn blue admin-credits-all-btn" ng-click="filter(0)">All</a>
									<a ng-repeat="item in Categories" class="waves-effect waves-light btn blue admin-credits-general-btn" href ng-click="filter(item.id)">{{item.shorttitle}}</a>
									<a href="#/managecategory/{{type}}" class="waves-effect waves-light btn blue right admin-credits-manage-btn"><i class="glyphicon glyphicon-th-large"></i>Manage</a>
								</div>
							</div>
							<br />
							<div ng-if="Data.length==0" class="jumbotron">
								<h4 style="text-align:center;">No Records Found!</h4>
							</div>
							<div ng-if="Data.length>0">
								<div class="row">
									<div class="col m8">
									</div>
									<div class="col m4">
										 <input type="text" ng-model="searchTerm" class="form-control" placeholder="Search Credits">
									</div>
								 </div>
								 <br />
								 <div class="table-scroll">
									<table class="table all-table">
										<thead>
											<tr>
												<th>Badge</th>
												<th>Credits</th>
												<th>Title</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in Data | filter:searchTerm">
												<td style="width:10%;">
													<div ng-if="item.icon_css != ''">
														<span class="{{item.icon_css}}"></span>
													</div>
													<div ng-if="item.icon_css == ''">
														<img class="img-responsive" style="width:68px; height:auto;" ng-src="{{defaultphoto}}" src="/{{defaultphoto}}" ng-if="item.icon==''" />
													<!-- 	<img class="img-responsive" style="width:68px; height:auto;" ng-src="/uploads/badges/{{item.icon}}" ng-if="item.icon!=''" /> -->
													<img class="img-responsive" style="width:68px; height:auto;" ng-src="{{item.icon}}" ng-if="item.icon!=''" />
													</div>
												</td>
												<td style="width:10%;">
													{{item.credits}}
												</td>
												<td style="width:60%;">
													<h6><strong>{{item.title}}</strong></h6>
													<p>{{item.description}}</p>
												</td>
												<td>
													<a class="waves-effect waves-light btn-floating blue" title="Update Avator"  href="#/uploadavator/{{type}}/{{item.id}}"><i class="small material-icons">view_list</i></a>
													<a class="waves-effect waves-light btn-floating yellow" title="Show Code" href="#/showcode/{{type}}/{{item.id}}"><i class="small material-icons">library_books</i></a>
													<a class="waves-effect waves-light btn-floating green" title="Edit Record" href="#/addbadge/{{type}}/{{item.id}}"><i class="small material-icons">mode_edit</i></a>
													<a class="waves-effect waves-light btn-floating red" title="Delete Record" href ng-click="dRrecord(item.id, item.icon)"><i class="small material-icons">delete</i></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>