﻿<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3" ng-include="Nav">
			</div>
			<div class="col-md-9">
				<div class="card-content">
					<div class="panel-heading">Show Code - {{Caption}}</div>

					<div class="panel-body">
						<div class="alert {{messagecss}} alert-dismissible" role="alert" ng-if="message !=''">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<strong>{{message}}</strong>
						</div>
						<div ng-if="showLoader">
							<div class="spinner">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</div>
						<div ng-if="!showLoader">
							<div class="btn-toolbar" role="toolbar" aria-label="...">
								<div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
									<a href="#/addbadge/{{type}}" title="Add new record" class="waves-effect waves-light btn blue mrg-l-10"><i class="material-icons left">add</i> Add</a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<h4>{{Info[0].title}}</h4>
									<p>Description: {{Info[0].description}}</p>
									<hr />
									<p>Copy code from below and paste it under <strong>/include/events/{{eventname}}.php</strong> file.</p>

<pre class="prettyprint">
	// &lt;summary&gt;
	// {{Info[0].title}} ({{itemName}})
	// &lt;/summary&gt;
	function trigger_item_{{selectedID}}($userid)
	{
		$obj = new ga_core_bll();
		$obj->trigger_item($userid, {{selectedID}});
	}
</pre>
<p>Code below to award <strong>{{Info[0].title}}</strong> item to selected user</p>
<pre class="prettyprint">
	include_once("include/events/{{eventname}}.php");
	$obj = new {{eventname}}();
	$obj->trigger_item_{{selectedID}}($userid);
</pre>

								</div>

							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

	</div>
</div>