﻿<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3" ng-include="Nav">
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">Upload Avator - {{Caption}}</div>

                    <div class="panel-body">
                        <div class="alert {{messagecss}} alert-dismissible" role="alert" ng-if="message !=''">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>{{message}}</strong>
                        </div>
                        <div ng-if="showLoader">
                            <div class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                        <div ng-if="!showLoader">
                            <div class="btn-toolbar" role="toolbar" aria-label="...">
<form method="POST" action="" id="uploadForm" enctype="multipart/form-data">
<input type="hidden" name="badge_id">
<div class="file-field input-field">
<div class="btn light-blue darken-2">
<span>Upload</span>
<input type="file" name="avatar" required>
</div>
<div class="file-path-wrapper">
<input class="file-path validate" type="text" placeholder="Upload any image" id="cover_picture">
</div>
</div>
<span id="next" class="waves-effect waves-light btn green darken-1" onclick="submitted();">SAVE</span>
</form>


                                <!-- <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
                                    <input type="file" class="waves-effect waves-light btn" id="changeavatar" > Edit
                                    <a href="#/" class="waves-effect waves-light btn"><i class="material-icons left">view_list</i> Manage</a>
                                </div> -->
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <!-- adjust container with size of image-->
                                    <div style="width:68px; margin-left:8px; margin-top:5px;">
                                        <photouploader handlerpath="{{handlerpath}}"
                                                       pickfilecaption="{{pickfilecaption}}"
                                                       max_file_size="{{max_file_size}}"
                                                       chunksize="{{chunksize}}"
                                                       headers="{{headers}}"
                                                       extensions="{{extensions}}"
                                                       extensiontitle="{{extensiontitle}}"
                                                       photoname="{{photoname}}"
                                                       updatehandler="{{updatehandler}}"
                                                       photowidth="{{photowidth}}"
                                                       photoheight="{{photoheight}}"
                                                       photocss="{{photocss}}"
                                                       photopath="/"
                                                       defaultphoto="/{{defaultphoto}}"
                                                       removehandler="{{removehandler}}"
                                                       photoid="{{photoid}}">
                                        </photouploader>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <p class="mrgl-10">Upload or replace badge photo by clicking on plus icon.</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
