﻿<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col s12 m3" ng-include="Nav">
            </div>
            <div class="col s12 m9">
                <div class="panel panel-default">
                    <div class="panel-heading">Manage Packages</div>
                    <div class="panel-body">
                        <div class="alert {{messagecss}} alert-dismissible" role="alert" ng-if="message !=''">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>{{message}}</strong>
                        </div>
                        <div ng-if="showLoader">
                            <div class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                        <div ng-if="!showLoader">
                            <div class="btn-toolbar" role="toolbar" aria-label="...">
                                
                                <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
                                    <a ng-if="Categories.length > 0" class="btn btn-primary" ng-click="filter(0)">All</a>
                                    <a ng-repeat="item in Categories" class="btn btn-primary" href ng-click="filter(item.id)">{{item.shorttitle}}</a>
                                  
                                </div>
                            </div>
                            <br />
                            <div ng-if="Data.length==0" class="jumbotron">
                                <h2 style="text-align:center;">No Records Found!</h2>
                            </div>
                            <div ng-if="Data.length>0">
                                <table class="table table-condensed table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Badge</th>
                                            <th>Credits</th>
                                            <th>Price</th>
                                            <th>Title</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in Data">
                                            <td style="width:10%;">
                                                <div ng-if="item.icon_css != ''">
                                                    <span class="{{item.icon_css}}"></span>
                                                </div>
                                                <div ng-if="item.icon_css == ''">
                                                    <img class="img-responsive" style="width:68px; height:auto;" ng-src="{{defaultphoto}}" src="{{defaultphoto}}" ng-if="item.icon==''" />
                                                    <img class="img-responsive" style="width:68px; height:auto;" ng-src="{{photopath}}{{item.icon}}" ng-if="item.icon!=''" />
                                                </div>
                                            </td>
                                            <td style="width:10%;">
                                                {{item.credits}}
                                            </td>
                                            <td style="width:10%;">
                                                 ${{item.price}}
                                            </td>
                                            <td style="width:50%;">
                                                <h4>{{item.title}}</h4>
                                                <p>{{item.description}}</p>
                                            </td>
                                            <td style="width:20%;">
                                                <a class="btn btn-xs btn-block btn-primary" href ng-click="award(item.id)">Buy Now</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>