
html {
    font-family: calibri;
}

.App-logo {
	animation: App-logo-spin infinite 1s linear;
	height: 80px;
}
@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.padding_10{
    padding-top: 10px;
}
span.badge.badge__status{
    position: static;
    border-radius: 3px;
}

.text-white {
    color: #fff !important;
}

.nav_tab{
    background-color: rgba(64, 16, 85, 0.8);
    margin-top: -5px;
}

nav.navigation ul li:hover, .navigation ul li.active {
    background-color: rgba(0, 0, 0, 0)
}

.dropdown_area{
    margin:45px 3px;
    min-width: 200px!important;
}
#test1, #test2, #test3{
    margin-top: 70px;
}

/*.section_1 img{
    width: 15%!important;
    height: 15%!important;
}*/
.content_sec{
    border-bottom: 2px solid rgba(128, 128, 128, 0.21);
}

.tabs .indicator{
    position: absolute;
    bottom: 3px!important;
    height: 3px;
    background-color: #f0f6f7;
    will-change: left, right;
}
.tabs .tab a{
    color: #fff;
    font-weight: 700;
}
.tabs .tab a:hover{
    color: #fff;
    font-weight: 700;
}


.job_intro{
    font-size: 16px;
    margin-bottom: -16px;
}

a.btn.activate_button{
   height: 24px ;
   line-height: 24px ;
   float: right;
   text-transform: none ;
   font-size: 14px;
}
 .btn_createjob{
        height: 30px!important;
    margin-right: 70px;
    line-height: 30px!important;
    margin-top: 18px;
    font-size: 10px;
    color: black;
    background-color: white;
    padding: 0px 14px;
    font-style: oblique;
    font-weight: 700;
 }
.btn_job{
    width: 200px;
    height: 100px;
    border:1px solid white;
    font-size: 10px;
}

#applicant-modal.modal {
    background-color: #7030a0;
    color: #fff;
}
.applicant-modal {
    width: 300px;
}
.applicant-modal .modal-content {
    padding: 24px 0px 10px;
}
#applicant-modal .applicant-pic {
    width: 100px;
    height: 100px;
    border: solid 5px #e53935;
}
.applicant-pic {
    width: 115px;
    height: 100px;
    margin: 0 auto 10px;
    border-radius: 50% !important;
    overflow: hidden;
    border: solid 5px #e53935;
}

.applicant-pic img {
    width: 100%;
    height: 100%;
}
.applicant-border {
    border-top: 1px solid #ccc;
    padding: 5px;
}
.applicant-time {
    margin: 0;
    line-height: 1.2;
    padding: 5px;
}

.modal-close-div {
    position: absolute;
    top: 5px;
    left: 8px;
}
.modal-close-div a i {
    font-size: 20px;
    color: #fff;
}
.display-flex {
    display: flex;
}
@media(max-width: 600px){
 .btn_createjob{
    margin-top:0px;
 }
 nav .nav-wrapper {
    padding: 13px 0px;
 }
}
nav .nav-wrapper .modal-trigger .btn.white:hover {
    background-color: #eee !important;
}
.btn-full-width {
    display: block !important;
    width: 100%;
}

table.createjob {
    border: 1px solid purple;
}
table.createjob td {
    padding: 0;
}