.navbar-color{
	background-color:#2a3379;
}

.notification-badge{
	background-color:#484747;
}

.blue {
    background-color: #fff !important;
}


.profile-sidebar ul.collection .collection-item.active {
    background-color: #2a3379;
    border-left: 2px solid #5b9bd1;
    color: #5b9bd1;
}

.profile-userpic {
    box-shadow: 0px 0px 11px 2px #2a3379;
}
.profile-sidebar ul.collection a.collection-item:not(.active):hover {
    background-color: #2a3379;
    color: #FFF;
}

.profile-sidebar ul.collection .collection-item.active {
    background-color: #FFF;
    border-left: 2px solid #5b9bd1;
    color: #2a3379;
}

[type="radio"]:checked+label:after{
	background-color: #2a3379;
}


.light-blue.darken-2{
	background-color:#484747 !important;
}

.teal.darken-1 {
    background-color: #484747 !important;
}
.pagination li.active {
    background-color: #2a3379;
}

.cyan {
    background-color: #484747 !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #2a3379;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #d8c8c7;
}

[type="checkbox"]:checked+label:before {

    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #2a3379;
    border-bottom: 2px solid #2a3379;
}
.blue {
    background-color: #FFF!important;
}
footer.page-footer {
    background-color: #484747;
}