﻿<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col s3 gamify-nav" ng-include="Nav">
			</div>
			<div class="col s12">
				<div class="panel panel-default">
					<div class="panel-heading add-heading">{{headerCaption}} {{Caption}}</div>
					<div class="panel-body">
						<div ng-if="showLoader">
							<div class="spinner">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</div>
						<div ng-if="!showLoader">
							<div class="alert {{messagecss}} alert-dismissible" role="alert" ng-if="message !=''">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<strong>{{message}}</strong>
							</div>
							<div class="btn-toolbar" role="toolbar" aria-label="...">
								<div class="row">
									<div class="col s12">
										<div class="" role="group" aria-label="...">
											<a ng-if="category[0].id>0" href="#/addbadge/{{type}}" class="waves-effect waves-light btn">Add</a>
											<a href="#/" class="waves-effect waves-light btn blue right"> Manage</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s10" ng-if="type==3">
									<label for="gtitle"></label>
									<div class="col-s10">
										<h2>{{badge[0].ilevel}} Level</h2>
									</div>
								</div>
								<div class="input-field col s12 m12">
									<input id="gtitle" ng-model="badge[0].title" type="text" class="validate">
									<label for="gtitle" class="active">Title</label>
								</div>

								<div class="input-field col s12 m12">
									<textarea id="gdesc" ng-model="badge[0].description" class="materialize-textarea"  rows="5"></textarea>
									<label for="gdesc" class="active">Description</label>
								</div>

								<div class="input-field col s12 m12">
									<textarea id="gdesc" ng-model="badge[0].notification" rows="2" class="materialize-textarea"></textarea>
									<label for="gdesc" class="active">Notification</label>
									<p class="help-block">Message to be added in user history when user is awarded this feature. e.g "You have been awarded [value] xp, where [value] will be replace with their respective value (badge, reward, xp, credits, package, level)."</p>
								</div>

                                <div class="input-field col s12 m12">
								    <span><strong>Category</strong></span>
                                    <select id="gcategory" ng-model="badge[0].category_id" ng-options="item.id as item.title for item in Categories" class="browser-default">
                                        <option value="" disabled selected>Choose your option</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                    </select>
								</div>

								<div class="input-field col s12 m12">
									<p class="mrgl-11">
										<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" ng-model="isCss" />
										<label for="filled-in-box"> Use css for avator instead of icon</label>
									</p>
								</div>

								<div ng-if="isCss">
									<div class="input-field col s12 m12">
										<input type="text" id="iscss" ng-model="badge[0].icon_css" class="validate">
										 <label for="iscss" class="">CSS Class</label>
										<!-- <p class="help-block">In case you want to use font-awesome or display badge via css instead of image</p> -->
									</div>
								</div>
								<br>
								<br>
								<br>

								<div class="input-field col s12 m12">
									<input type="text" id="priority" ng-model="badge[0].priority" class="validate active mrgt-10">
									 <label for="priority" class="active mrgt-10">Priority</label>
									<!-- <p class="help-block">Use to prioritize the following item in listing.</p> -->
								</div>

								<div ng-if="type==6">
									<div class="input-field col s12 m12">
										<input type="text" id="xp" ng-model="badge[0].price" class="validate active">
										<label for="xp" class="active">Price</label>
										<!-- <p class="help-block">Price needed to buy this package.</p> -->
									</div>
								</div>

								<div ng-if="type==2 || type==5 || type==6">
									<p class="mrgl-10">Credits</p>

									<div class="col s12 m12">
										<input type="text" id="credits" ng-model="badge[0].credits" class="validate">
										<p class="help-block" ng-if="type==2">Credits required to unlock this reward.</p>
										<p class="help-block" ng-if="type==5">Credits to be rewarded when user complete this task.</p>
										<p class="help-block" ng-if="type==6">Credits to be rewarded when user purchase this package.</p>
									</div>
								</div>
								<p class="mrgl-10" ng-if="type==3 || type==4">XP</p>
								<div ng-if="type==3 || type==4">
									<div class="col s12 m12">
										<input type="text" id="xp" ng-model="badge[0].xp" class="validate">
										<label for="xp" class="active">XP</label>
										<p class="help-block" ng-if="type==3">XP required to unlock this level.</p>
										<p class="help-block" ng-if="type==4">XP to be rewarded when user complete this task.</p>
									</div>
								</div>
								<br>
								<div ng-if="type==4 || type==5">
								<p class="mrgl-10">Is Deduct</p>
									<div class="col s12 m12">
										<select id="gcategory" ng-model="badge[0].isdeduct" class="browser-default">
											<option value="0">No</option>
											<option value="1">Yes</option>
										</select>
										<!-- <label for="gcategory" class="active">Is Deduct</label> -->
										<!-- <p class="help-block">If Yes then this event will be used to deduct, remove this item from user profile.</p> -->
									</div>
								</div>
								<br>
								<p class="mrgl-10">Is Hide</p>
								<div class="col s12 m12">
									<select id="ghide1" ng-model="badge[0].ishide" class="browser-default">
										<option value="0">No</option>
										<option value="1">Yes</option>
									</select>
									<!-- <label for="ghide1" class="active">Is Hide</label> -->
									<!-- <p class="help-block">If Yes will hide selected item to display on public places. Just for internal or for specific use only. e.g if you want to assign few rewards with level 10 but not want to display these rewards in reward listings.</p> -->
								</div>
								<br>
								<!-- <p class="mrgl-10">Is Multiple</p>
								<div ng-if="type==1 || type==2  || type==6">
									<div class="input-field col s12 m12">
										<select id="ghide2" ng-model="badge[0].ismultiple">
											<option value="0">No</option>
											<option value="1">Yes</option>
										</select>
										<label for="ghide2">Is Multiple</label>
										<p class="help-block">If yes current item (badge, reward, package) to be awarded multiple times.</p>
									</div>
								</div> -->

									<div class="col s12 mrgt-15">
										<a ng-click="addBadge()" href class="waves-effect waves-light btn blue"><i class="material-icons left"> add</i> {{headerCaption}}</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

	</div>
</div>