﻿<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col s3" ng-include="Nav">
            </div>
            <div class="col s12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{headerCaption}} Category  - {{Caption}}</div>
                    <div class="panel-body">
                        <div class="alert {{messagecss}} alert-dismissible" role="alert" ng-if="message !=''">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>{{message}}</strong>
                        </div>
                        <div ng-if="showLoader">
                            <div class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                        <div ng-if="!showLoader">
                            <div class="btn-toolbar" role="toolbar" aria-label="..." >
                                <div class="" role="group" aria-label="...">
                                    <a ng-if="category[0].id>0" href="#/addcategory/{{type}}" class="waves-effect waves-light btn blue"><i class="glyphicon glyphicon-plus"></i> Add</a>
                                    <a href="#/managecategory/{{type}}" class="waves-effect waves-light btn blue"><i class=""></i> Manage</a>
                                </div>
                            </div>
                           
                            <div class="input-field col s12">
                                <input type="text" ng-model="category[0].title" class="validate">
                                <label for="inputEmail3">Title</label>
                            </div>
                        
                            <div class="input-field col s12">
                                <input type="text" ng-model="category[0].shorttitle" class="validate">
                                <label for="inputEmail3">Short Title</label>
                            </div>
                        
                            <div class="input-field col s12">
                                <textarea ng-model="category[0].description" class="materialize-textarea"></textarea>
                                  <label for="inputEmail3">Description</label>
                            </div>
                          
                            <div class="input-field col s12">
                                <input type="text" ng-model="category[0].priority" class="validate">
                                 <label for="inputEmail3">Priority</label>
                            </div>
                           
                            <div class="col s12">
                                <a ng-click="addCategory()" href class="waves-effect waves-light btn blue">{{headerCaption}}</a>
                            </div>
                                
                         </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>